.container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
}


.container.active {
    transform: scale(1);
}

.successContainer {
    padding: 40px;
    border-radius: 12px;
    background-color: white;
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: rgb(129, 216, 0); 
}

.successImg {
    height: 70px;
    width: 70px;
}

.btnOK {
    font-size: 20px;
    font-weight: 900;
    border: none;
    background-color: rgb(129, 216, 0); 
    color: white;
    width: 100px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
}